<html>
	<head>
		<title> This is the title</title>
	</head>
	<body>
	<h1 align="center"> Welcome to IVS ( IITG Versioning System ) </h1>
	{% if user.is_authenticated %}
<!--		<a href="/logout">Logout</a>
		<a href= "/user_info">My Information</a>
		<a href= "/sent_testimonials">Sent Testimonials</a>
		<a href= "/my_testimonials">Receieved Testimonials</a>
		<a href= "/enter_department">Write Testimonial</a>
		<a href= "/upload_photo">Upload Photo</a>
		<a href= "/change_password">Change Password</a>  -->
	{% else %}
		<a href="/login">Login</a>
	{% endif %}
	<a href="/repo">Repositories</a>
	<a href="/files">Files</a>
	<a href="/branches">Branches</a>
	<a href="/commits">Commits</a>
	<a href="/patches">Patches</a>
	<a href="/logout">Logout</a>

	{% block content %}{% endblock %}

		<div style="position: relative; text-align: center">
     			 <p style="position: fixed; bottom: 0; width:100%;"> Created by: Kunal Khandelwal , Shubham Shukla, Vibhanshu</p>
  		</div>


	</body>
</html>
