{% extends "base2.html" %}

{% block content %}

<p align="right"> New to IVS . <a href="../register">Register here</a> </p>

{% if auth_failure %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="auth">
{% csrf_token %}
<table align="center">
<tr>
    <td>Username:</td>
    <td><input type="text" name="username">  </td>
</tr>
<tr>
    <td>Password</td>
    <td><input type="text" name="password"></td>
</tr>
</tr>
	<td>
		<input type="submit" value="Submit" />
	</td>
</tr>
</table>

<input type="hidden" name="next" value="../files" /> 
<!--<input type="hidden" name="next" value="{{ next }}" /> --!>
</form>

{% endblock %}
